/*NAV*/
:root {
  --primary-color: #272727;
  --text: white;
  --background: #F4F5FC;
  --sidebar-gray-background: #DCE1EB;
  --red: #F55E5E;
  --item-hover: #F0F0F0;
  --primary-blue: #3F8CFF;
  --primary-blue-dark: #4361ee;
  --text-white: #F7FAFF;
  --text-gray: #B5B8BC;
  --text-color: #303651;
  --text-color-neutral: #697089;
  --card-bg: #222429;
  --bg: #141419;
  --primary: #000000;
  --secondary-background: #F2F2F2;
  --gray: #847F90;
  --gray-hover: #171717;
  --primary-hover: #555555;
  --link-gray: #666666;
  --link-gray-hover: #171717;
  --gray: #E1E1E1;
  --gray-border: #E6E6E6;
  --white: #FCFCFC;
  --navbar-height: 64px;
  --background-item: #000000;
  --bgX: #171717;
  --text-colorX: #fff;
  --accentX: cyan;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--background);
  padding: 16px;
  height: 100%;
}

html {
  min-height: 800px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navdiv {
  float: left;
}

.navdiv nav{
  position: fixed;
  top: 0;
  left: 0;
  min-height: 200px; /* Geçici olarak küçük bir değer */
  height: 100%;
  border-radius: 16px;
  border-top-left-radius: 0;
  background-color: var(--primary-color);
  width: 18rem;
  padding: 16px 10px;
  display: flex;
  color: white;
  flex-direction: column;
  background-color: #FCFCFD;
  transition: all 0.1s ease-in-out;
  overflow-y: auto; /* Dikey scrollbar ekle */
}

body.collapsed .navdiv nav {
  width: 76px;
}

body.collapsed .navdiv .hide {
  position: absolute;
  display: none;
}

/*? sidebar top */
.sidebar-top {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 64px;
  padding-bottom: 16px;
}

body.collapsed .sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navdiv .logo__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 8px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.navdiv .logo {
  height: 42px;
  overflow: hidden;
  max-width: 100%;
  object-fit: contain;
}

.navdiv nav .logo-small {
  height: 42px;
  overflow: hidden;
  max-width: 100%;
  display: none;
  object-fit: contain;
}

.collapsed .logo {
  display: none;
}

.collapsed .logo-small {
  display: block;
}

/*? menu links */
.sidebar-links {
  padding: 8px 0px;
  border-top: 1px solid var(--sidebar-gray-background);
}

.sidebar-links ul {
  list-style-type: none;
  position: relative;
}

.sidebar-links li {
  color: var(--primary-color);
}

.collapsed .sidebar-links li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-links li svg {
  stroke: vart(--background);
  transition: none;
  width: 28px;
  height: 28px;
}

.sidebar-links li a {
  padding: 12px 12px;
  margin: 8px 0px;
  color: var(--sidebar-gray-light);
  font-size: 1.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 56px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-links li a img {
  height: 34px;
  width: 34px;
}

.sidebar-links .link {
  margin-left: 30px;
}

.sidebar-links .active:hover {
  background-color: var(--primary-color);
  color: var(--background);
}

.sidebar-links .active:hover svg {
  stroke: var(--background);
}

.sidebar-links .active {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--background);
}

.sidebar-links .active svg {
  stroke: var(--background);
}



/*? bottom sidebar */
.sidebar-bottom {
  padding: 8px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin-top: auto;
  border: 1px solid #F0F0F0;
  display: flex;
  text-align: center;
  border-radius: 16px;
  padding-top: 64px;
  margin-bottom: 48px;
}

.sidebar-bottom img {
  max-width: 164px;
  margin: 0 auto;
  width: 100%;
  margin-top: -84px;
}

.sidebar-bottom p {
  margin-top: -32px;
  margin-bottom: 16px;
  color: var(--primary-color);
}

.sidebar-bottom button {
  border-radius: 16px;
  outline: none;
  margin: 0 auto;
  margin-bottom: -28px;
  cursor: pointer;
  max-width: 150px;
  min-height: 42px;
  font-weight: 800;
  border: 1.5px solid var(--sidebar-gray-background);
  padding: 8px 12px;
  background-color: var(--background);
  transition: all 0.2s ease-in-out;
}

.sidebar-bottom button:hover {
  background-color: var(--primary-color);
  color: var(--item-hover);
}

.notification {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--red);
  top: -3px;
  border: 3px solid var(--background);
  right: -3px;
}

/*? Expand button */

body.collapsed .expand-btn {
  justify-content: center;
  margin-top: auto;
}

.expand-btn:hover {
  background-color: var(--item-hover);
}
.expand-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  color: var(--primary-color);
  border-radius: 8px;
  padding: 8px;
}

.expand-btn img {
  transform: rotate(180deg);
  stroke: var(--primary-color);
  width: 38px;
  height: 38px;
}

body.collapsed .expand-btn img {
  transform: rotate(-360deg);
}

/* ?Tooltip */

.tooltip {
  position: relative;
}

.tooltip .tooltip__content {
  visibility: hidden;
  background-color: var(--primary-color);
  color: var(--text);
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  left: 75px;
}

.collapsed .tooltip:hover .tooltip__content {
  visibility: visible;
}

/******************************************************************************/
/******************************************************************************/
.main-item--open {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white);
}

.main-item--open svg {
  stroke: var(--white);
}

.accordion-container > ul {
  max-height: 0px;
  list-style-type: none;
  margin: 0px;
  padding-left: 14px;
  opacity: 0;
  font-size: smaller;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}

.main-item--open + ul {
  visibility: visible;
  max-height: 400px;
  padding-left: 22px;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accordion-container > ul > li {
  height: 48px;
  display: flex;
  width: 100%;
  align-items: center;
}

.accordion-container > ul > li > a {
  padding: 16px 8px;
  height: 38px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
}

.accordion-container > ul > li:hover {
  color: var(--primary-item);
  cursor: pointer;
  font-weight: 700;
}

.accordion-container > ul > li:hover > a {
  color: var(--primary-item);
  background-color: (var--primary-hover);
}


.main-item--open > .expand-icon {
  transform: rotate(-90deg);
}

.line-vertical {
  display: block;
  background-color: var(--primary-color);
  width: 2px;
  height: 48px;
}

.accordion-container > ul > 
li:last-child > .line-vertical {
  height: 25px;
  align-self: flex-start;
}

.line-horizontal {
  display: block;
  background-color: var(--primary-color);
  height: 2px;
  min-width: 12px;
}
/******************************************************************************************/
.right{
  float: right;
  width: calc(100% - 20rem);
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right iframe{
  width: 100%;
  height: 90vh;
  border-radius: 12px;
  border: 5px solid white;
}

/*******************************************************************************************/
.downloadDiv{
  margin-top: 50px;
  display: flex;
  width: 100%;
}
.downloadDiv .button {
  display: inline-block;
  max-width: 20rem;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.downloadDiv .shape {
  fill: transparent;
  stroke: var(--accentX);
  stroke-dasharray: 120 500;
  stroke-dashoffset: -454;
  stroke-width: 8px;
  transition:
      stroke-width 0.9s,
      stroke-dashoffset 0.9s,
      stroke-dasharray 0.9s;
}

.downloadDiv .text {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.3rem;
  color: var(--text-colorX);
  top: -3rem;
  position: relative;
  pointer-events: none;
}

.downloadDiv .shape:hover {
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
/*********************************************************************************/
.positionMiddleDiv{
  width: 70%;
  height: 600px;
  margin-left: 12.5%;
  margin-top: 20vh;
  z-index: 5;
  position: absolute;
  background-color: #0C2D57;
  opacity: 0;
  pointer-events: none;
  border: 2px solid black;
  border-radius: 6px;
}
.positionMiddleDiv_header{
  width: 100%;
  height: 60px;
  border-bottom: 4px solid white;
}
#closeforms{
  padding: 7px;
  border-radius: 50%;
  color: black;
  border: 2px solid #FFB0B0;
  float: right;
  margin-top: -34px;
  margin-right: 10px;
}
/**************************************************************************************/
.dropzone-sol{
  width: 80%;
  margin-left: 10%;
  float: left;
  padding: 30px;
  padding-top: 40px;
}


/**************************************************************************************/
.dropzone-box {
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
}

.dropzone-box h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.dropzone-area {
  padding: 1rem;
  position: relative;
  margin-top: 0.3rem;
  min-height: 16rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--primary);
  border-radius: 1rem;
  color: var(--primary);
  cursor: pointer;
}

.dropzone-area [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropzone-area .file-upload-icon svg {
  height: 5rem;
  width: 5rem;
  margin-bottom: 0.5rem;
  stroke: var(--primary);
}

.dropzone--over {
  border-style: solid;
  background-color: var(--background);
}

.dropzone-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray);
  gap: 1rem;
  flex-wrap: wrap;
}

.dropzone-actions button {
  flex-grow: 1;
  min-height: 3rem;
  font-size: 1.2rem;
}

.dropzone-actions button:hover {
  text-decoration: underline;
}

.dropzone-actions button[type='reset'] {
  background-color: transparent;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--primary);
  cursor: pointer;
}

.dropzone-actions button[type='submit'] {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
}
